.left{
    left: 17.5rem;
}

.left_W7{
    left: 21rem;
}

.left_W8{
    left: 25rem
}

.left_W9{
    left: 29rem
}

.left_W10{
    left: 33rem
}

.left_W11{
    left: 37rem
}

.border-teste{
    transition: 1s ease-in-out;
    position: relative;
    
}

.border-teste::after{
    content: '';
    width: 0%;
    left: 50%;
    bottom: -1px;
    height: 3px;
    background-color: var(--colorThree);
    position: absolute;
    transition: 0.5s ease-in-out;
    transform: translate(-50%, -50%);
}

.border-teste:hover::after{
    width: 100%;
}
