.aside{
    background-color: var(--colorTwo);
    height: 25rem; 
}

.hidde-sidebar{
    position: fixed;
    left: -15rem;
    transition: 0.5s;
}

.show-sidebar{
    position: absolute;
    left: 0;
    transition: 0.3s;
}

