.shadow{
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    border-bottom: 3px solid var(--colorThree);
}

.transition{
    transition: 1s;
}

.transition:hover{
    width: 200px;
    transition: 0.5s;
}

::-webkit-scrollbar{
    display: none;
}