.github{
    animation: github linear infinite 4s;
    position: relative;
}

@keyframes github{
    0%, 100%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-10px);
    }
}