@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap'); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --colorOne:  #1F2C43;
    --colorTwo:  #5784C0;
    --colorThree:  #A4C8E8;
    --colorFor:  #DEEAF5;
    --colorFive: #fcfcfc;
    --font: 'Caveat', cursive; 
}

body{
    font-family: var(--font);
    color: var(--colorOne);
}
